.toggleWrapper {
  width: 80px;
  height: 40px;
  display: flex;
  padding-left: 2.5px;
  padding-right: 2.5px;
  align-items: center;
  background-color: #f3eff2;
  border-radius: 30px;
  border: 1px solid #95979d;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.activeBorder {
  border: 1px solid var(--theme-primary);
}

.toggle {
  background-color: #95979d;
  border-radius: 30px;
  width: 35px;
  height: 35px;
}

.active {
  background-color: var(--theme-primary);
  border: 1px solid var(--theme-primary);
}

.active h4 {
  color: white;
}
