.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.title {
  font-size: 66px;
  font-weight: 600;
  text-align: center;
  color: var(--primary-text);
}

.icon {
  height: 110px;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  object-fit: contain;
}
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Three equal-width columns */
  grid-template-rows: auto auto; /* Two rows */
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border: 1px solid var(--border-primary);
  border-radius: 15px;
}

/* First row: three items in three columns */
.grid > :nth-child(1) {
  grid-column: span 2;
  grid-row: 1;
}

.grid > :nth-child(2) {
  grid-column: span 2;
  grid-row: 1;
}

.grid > :nth-child(3) {
  grid-column: span 2;
  grid-row: 1;
}

.grid > :nth-child(4) {
  grid-column: span 3; /* Spans across columns 1 and 2 */
  grid-row: 2;
}

.grid > :nth-child(5) {
  grid-column: span 3; /* Spans across columns 2 and 3 */
  grid-row: 2;
}

.cardSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.productHeader {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.badge {
  background-color: var(--theme-secondary);
  color: var(--secondary-text);
  font-weight: 500;
  padding: 0.3rem 0.75rem;
  font-size: 14px;
  white-space: nowrap;
  border-radius: 30px;
}

.productName {
  font-size: 26px;
  white-space: nowrap;
}

.description {
  font-size: 12px;
  line-height: 150%;
  color: var(--secondary-text);
}
