.selectionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
  max-width: 524px;
}

.selectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--theme-primary);
  border-radius: 30px;
  background-color: white;
  padding: 0.75rem 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.badgeWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: var(--theme-secondary);
  border-radius: 15px;
  padding: 0.75rem 1rem;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.badgeTitle {
  font-size: 20px;
  font-weight: 600;
}

.colorTheme {
  color: var(--theme-primary);
}

.badgeDescription {
  font-size: 14px;
  color: var(--secondary-text);
  line-height: 150%;
  font-weight: 500;
}
