:root {
  --default-primary: #b488f1;
  --default-secondary: #efe3ff;
  --default-text: #222325;
  --default-background: #f3f3e9;

  --green-primary: #90f188;
  --green-secondary: #e9ffe8;
  --green-tertiary: #0f1d07;

  /* purple */
  --purple-primary: #b488f1;
  --purple-secondary: #efe3ff;
  --purple-tertiary: #12032a;
  /* prink */
  --pink-primary: #fd589e;
  --pink-secondary: #ffedf5;
  --pink-tertiary: #38001b;
  /* yellow */
  --yellow-primary: #ffd029;
  --yellow-secondary: #fff8e4;
  --yellow-tertiary: #322606;
  /* blue */
  --blue-primary: #82d7ff;
  --blue-secondary: #ebf8ff;
  --blue-tertiary: #070035;

  /* Text */
  --primary-text: #222325;
  --secondary-text: #62646a;
  --tertiary-text: #95979d;

  /* Borders */
  --border-primary: #dcdee2;

  --primary-varm: #ccfa86;
  --secondary-varm: #34bcc4;

  /* Changables */
  --theme-primary: var(--green-primary);
  --theme-secondary: var(--green-secondary);
  --theme-tertiary: var(--green-tertiary);

  --max-width: 1240px;
}

@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-Extrathin.otf") format("opentype");
  font-weight: 100;
}
@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-Thin.otf") format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-Light.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-Semibold.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-Bold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-Extrabold.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-Black.otf") format("opentype");
  font-weight: 900;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Averta", Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input {
  font-family: "Averta", Helvetica, sans-serif !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
