.inputWrapper {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.inputWrapper:hover {
  background-color: var(--theme-secondary);
  border-radius: 30px;
}

.inputWrapper:focus-within {
  background-color: var(--theme-secondary);
  border-radius: 30px;
}

.arrow {
  height: auto;
  width: 30px;
}

/* results autocomplete */
.dropOffList {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;
  top: 60px;
  left: 0;
  background-color: white;
  border: 1px solid var(--theme-primary);
  border-radius: 10px;
  z-index: 100;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  /* padding-top: 0.5rem;
    padding-bottom: 0.5rem; */
  padding: 0.5rem;
}

.dropOffResult {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.dropOffResult:hover {
  background-color: var(--theme-secondary);
  border-radius: 10px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.dropOffTitle {
  color: var(--primary-text);
  font-size: 16px;
  font-weight: 500;
}

.dropOffSubtitle {
  color: var(--tertiary-text);
  font-size: 14px;
  font-weight: 400;
}

.locationIcon {
  height: 20px;
  width: 20px;
  min-height: 20px;
  min-width: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}

.inputWrapper {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.inputWrapper:hover {
  background-color: var(--theme-secondary);
  border-radius: 30px;
}

.inputWrapper:focus-within {
  background-color: var(--theme-secondary);
  border-radius: 30px;
}

.inputLabel {
  font-size: 10px;
  font-weight: 400;
  color: var(--primary-text);
}

.input {
  border: 0;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  font-weight: 400;
  color: var(--tertiary-primary);
}

.input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: var(--tertiary-text);
}

.arrow {
  height: auto;
  width: 30px;
}
