.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.navigationInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width);
  width: 100%;
  gap: 30px;
}
.logoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.logo {
  max-height: 30px;
  max-width: 100px;
}

.text {
  font-size: 30px;
  font-weight: 500;
  color: var(--secondary-text);
}

.themeDot {
  color: var(--theme-primary);
  font-size: 30px;
}

.slogan {
  font-size: 16px;
  font-weight: 400;
  color: var(--tertiary-text);
  white-space: nowrap;
}

.navList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.navLinks {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.navLink {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-text);
}

.icon {
  width: 15px;
  height: 15px;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.link:hover {
  color: var(--theme-primary);
}

@media (max-width: 768px) {
  .wrapper {
    height: 80px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .slogan {
    display: none;
  }

  .navLinks {
    display: none;
  }

  .navigationInner {
    justify-content: space-between;
  }

  .navList {
    width: fit-content;
  }
}
