.buttonStyles {
  border: none;
  padding: 10px 15px;
  text-align: center;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--theme-primary);
  color: var(--theme-tertiary);
  font-weight: 500;
  font-family: "Averta";
  font-size: 16px;
  white-space: nowrap;
  transition: all 0.3s ease-out;
}

.buttonStyles:hover {
  background-color: var(--theme-tertiary);
  color: white;
  transform: scale(1.02);
}

.buttonStyles:active {
  transform: scale(0.98);
}
